

  header img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    height: 50px; /* Adjust logo height */
    width: 50px; /* Ensure the width and height are equal */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fits well in the circle */
  }
  

  .login-container {
    background-color: #fef3e2;
    
    ;
    max-width: 400px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .login-container h2 {
    margin-bottom: 20px;
     /* Purple for headings */
  }

  .input-container {
    margin-bottom: 15px;
    text-align: left;
  }

  .input-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }

  .btn-login {
    background-color:#FFC74A;
    color: black;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
  }

  .btn-login:hover {
    background-color: #efaa14;
  }

  .signup {
    margin-top: 15px;
    color: #555;
  }

  .signup a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }

  .signup a:hover {
    text-decoration: underline;
  }

  .social-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .social-login img {
    margin: 0 10px;
    cursor: pointer;
  }

  /* Footer styling */
  footer {
    background-color: #00214D; /* Dark blue */
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  header {
    background-color: #fefee2; /* Purple color */
    color: rgb(5, 2, 2);
    padding: 15px 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative; /* For positioning the logo */
  }